# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

# Neon / Postgres direct connection
DATABASE_URL=postgresql://username:password@ep-example.neon.tech/neondb?sslmode=require
